{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-pascal-case": 1,
    "react/no-did-mount-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/jsx-uses-vars": 2,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 1,
    "no-undef": 2,
    "semi": 2,
    "react/prop-types": 1,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/button-has-type": 1,
    "react/no-array-index-key": 1,
    "symbol-description": 1,
    "no-console": 1,
    "complexity": ["warn", 7]
  }
}